.compare-weather {
    &-container {
        text-align: center;
    }
    &-header {
        width: 100%;
        padding: 20px;
        padding-top: 50px;

        &-form {
            width: 100%;
    
            &-input {
                width: 100%;
            }

            &-button {
                width: 100%;
            }
        }
    }
    &-error {
        color: red;
        font-size: 26px;
        padding: 20px;
    }
}

@media only screen and (min-width: 600px) {
    .compare-weather {
        &-header {
            padding: 20px 70px;
        }
    }
}
