.one-day-weather {
    &-container {
        width: 45%;
        min-height: 600px;
        display: inline-block;
        vertical-align: top;
        border: 1px solid #cccccc;
        text-align: center;
        margin: 20px;
        font-size: 26px;
        font-weight: 200;
        cursor: pointer;
    }

    &-container:hover {
        background-color: #cccccc;
        transition: 0.3s;
    }

    &-date {
        text-align: left;
        font-size: 36px;
        font-weight: 600px;
        padding: 30px;
    }

    &-summary {
        font-weight: 500;
        font-size: 32px;
    }

    &-content {
        
    }
}