<div class="one-day-weather-container">
  <div class="one-day-weather-date">
    {{(oneDayWeather.time*1000) | date: 'fullDate'}}
  </div>
  <div class="one-day-weather-summary">
    {{oneDayWeather.summary}}
  </div>
  <div class="one-day-weather-content">
    <p>{{(oneDayWeather.sunriseTime*1000) | date: 'shortTime'}}</p>
    <p>{{(oneDayWeather.sunsetTime*1000) | date: 'shortTime'}}</p>
    <p>{{oneDayWeather.temperatureHigh}}</p>
    <p>{{oneDayWeather.temperatureLow}}</p>
    <p>{{oneDayWeather.pressure}}</p>
    <p>{{oneDayWeather.humidity}}</p>
    <p>{{oneDayWeather.windSpeed}}</p>
  </div>
</div>
