<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="false"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="!(isHandset$ | async)" (click)="drawer.toggle()">
    <mat-toolbar>
      Weather Check
    </mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/weather" routerLinkActive="active">Weather</a>
      <a mat-list-item routerLink="/compare-weather" routerLinkActive="active">Compare Weather</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span class="weather-app-responsive">Weather Check</span>
      <span class="fill-remaining-space"></span>
      <div class="weather-app-responsive">
        <a routerLink="/weather" 
          routerLinkActive="active">
          Weather
        </a>
        <a routerLink="/compare-weather"
         routerLinkActive="active">
         Compare Weather
        </a>
      </div>
    </mat-toolbar>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
