body {
    box-sizing: border-box;
}

.navbar {
&-container {
    width: 100%;
    height: 70px;
    background-color: #cccccc;   
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
}

&-action {
    height: 100%;
    width: 400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 30px;
}
&-items{

}
}

// @media only screen and (max-width: 600px) {
//     .navbar-container {
//       height: 150px;
//       flex-direction: column;
//     }
//     .navbar-action {
//         display: block;
//         // margin: 15px 0;
//     }

//     .button-weather {
//         display: block;
//         text-align: center;
//         margin: 15px auto;
//     }
//   }

.button-weather {
    cursor: pointer;
    outline: none;
    width: 170px;
    height: 50px;
    background-color:  #f2f2f2;
    border: 2px solid #808080;
    border-radius: 15px;
    font-size: 18px;
    font-family: 'Lato', sans-serif;
    transition: 0.3s;
}

.button-weather:hover {
    background-color:  #ffffff;
}