.spinner {
    margin: 100px auto 0;
}

.weather-container {
    width: 100%;
}

@media only screen and (min-width: 600px) {
    .weather-container {
        width: 80%;
        padding: 20px;
        margin: 0 auto;
    }
}