<mat-spinner *ngIf="!cityCondition && spinnerCondition" class="spinner"></mat-spinner>
<div class="weather-container" *ngIf="cityCondition">
    <mat-tab-group mat-align-tabs="center">
        <mat-tab label="Currently">
            <app-current-weather
                [city]="cityName">
            </app-current-weather>
        </mat-tab>
        <mat-tab label="Hourly">
            Hourly
        </mat-tab>
        <mat-tab label="Daily">
            Daily
        </mat-tab>
    </mat-tab-group>
</div>