.selection {
    &-container {
        text-align: center;
    }
    &-header {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: center;
        padding: 20px 70px;
        width: 100%;

        &-form {
            width: 100%;
    
            &-input {
                width: 80%;
            }

            &-button {
                width: 20%;
            }
        }
    }
    &-error {
        color: red;
        font-size: 26px;
    }
}