<div class="selection-container">
  <div class="selection-header">
    <form class="selection-header-form">
      <mat-form-field class="selection-header-form-input">
        <input matInput placeholder="Check weather in ..." #selectedCity autocomplete="off">
      </mat-form-field>
      <button class="selection-header-form-button" mat-button color="primary"
        (click)="checkWeather(selectedCity.value)">Check</button>
    </form>
  </div>
  <div *ngIf="locationError" class="selection-error">
    Unable to find location, try one more time
  </div>

  <!-- <app-weather></app-weather> -->
</div>