.selection {
    &-container {
        min-height: 700px;
        text-align: center;
    }
    &-header {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: center;
        padding: 20px 70px;
        margin: 20px;
    
        &-text {
            font-size: 54px;
        }
        input {
            width: auto;
            padding: 12px 20px;
            margin: 8px 0;
            box-sizing: border-box;
            text-align: center;
            font-size: 28px;
        }
        &-check-button {
            width: 20%;
            height: 80px;
            border: 1px solid #33cc33;
            background-color: #ffffff;
            cursor: pointer;
            border-radius: 36px;
            font-size: 36px;
            transition: 0.3s;
            outline: none;
        }
        &-check-button:hover {
            background-color:  #ebfaeb;
        }
    }
    &-cities {
        width: 80%;
        margin: 20px auto;
        height: 500px;
    }
    &-city {
        display: inline-block;
        width: 20%;
        height: 70px;
        margin: 20px;
    }
    &-button {
        width: 100%;
        height: 100%;
        outline: none;
        cursor: pointer;
        background-color: #d9d9d9;
        border-radius: 15px;
        font-size: 28px;
        border: 1px solid #333333;
        transition: 0.3s;
    }
    &-button:hover {
        background-color: #808080;
    }
}