<div class="selection-container">
  <!-- <h1>Please enter the city in which you would like to check weather or select from proposed cities.</h1> -->
  <div class="selection-header">
    <div class="selection-header-text">Check weather in ...</div>
    <input placeholder="city" [(ngModel)]="selectedCityName" (ngModelChange)="checkForError()">
    <button class="selection-header-check-button" (click)="checkWeather(selectedCityName)">Check</button>
  </div>
  <div *ngIf="locationError" class="selection-error">
    Unable to find location, try one more time
  </div>
  <div class="selection-cities">
    <div class="selection-city" *ngFor="let city of cities">
      <button class="selection-button" (click)="selectCity(city)">{{city.city}}</button>
    </div>
  </div>
</div>

<app-weather></app-weather>