<ngx-charts-bar-vertical
  [view]="view"
  [scheme]="colorScheme"
  [results]="hourlyNgxChartsData"
  [gradient]="false"
  [xAxis]="true"
  [yAxis]="true"
  [legend]="false"
  [showXAxisLabel]="true"
  [showYAxisLabel]="true"
  [xAxisLabel]="xAxisLabel"
  [yAxisLabel]="yAxisLabel"
  (select)="onSelect($event)">
  <ng-template #tooltipTemplate let-model="model">
    <div class="ngx-charts-tooltip">
      {{model.name}}<br>
      {{model.value}} C
    </div>
  </ng-template>
</ngx-charts-bar-vertical>