.ngx-charts-tooltip {
    widows: 100px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center; 
    padding: 10px;
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}